*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: #1E2D3B;
}
.container{

}
header{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding:0 100px;
}
.logo{
  display: flex;
  padding: 15px 0;
}
i{
  font-size: 48px;
  color: #1DB954;
}
label{
display: flex;
justify-content: center;
align-items: center;
}

select {
   background: transparent url(images/icon-selectbox.png) no-repeat 95% 50%;
   padding: 5px;
   min-width: 200px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid #1DB954;
   border-radius: 5px;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   padding-right: 20px;
   color: #1DB954;
}

main{
  /* background-color: pink; */
  height: 80%;
  margin: 40px  40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width: 200px;
  background-color: #2E3A46;
  border-radius: 10px;
  padding: 20px 25px ;
  /* flex-wrap: wrap;
  display: flex;
  justify-content: space-around; */
  margin-right: 40px;
  margin-top: 30px;
}
.img_container{
  height: 150px;
  margin-bottom: 10px;
}
img{
  height: 100%;
  cursor: pointer;
}
.content{
  text-align: center;
}
h2{
  color: #1DB954;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}
.p_content{
  margin-top: 10px;
  color: #fff;
}
.p_select{
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
