*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgray;
  font-family: 'Lato', sans-serif;
}
.container{
  background-color: #141922;
  height: 100vh;
}
header{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding:0 50px;
}
.logo{
  display: flex;
  padding: 15px 0;
}
i{
  font-size: 48px;
  color: #1DB954;
}
label{
display: flex;
justify-content: center;
align-items: center;
}
select{
  width: 150px;
}
main{
  background-color: pink;
  height: 80%;
  margin: 40px  40px;
}
